{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<main class="container flex flex-col md:px-12 px-4 m-4 space-y-4">
    <h1>Créer un participant</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
    
    {{ form_widget(registrationForm) }}
        <button type="submit" class="btn">Créer un participant</button>
    
    {{ form_end(registrationForm) }}
</main>
{% endblock %}
