{% extends 'base.html.twig' %}

{% block title %}Hello MainController!
{% endblock %}

{% block body %}
	<div>

		<a href="./sorties" class="text-white bg-blue-700 rounded-lg text-sm px-5 py-2.5 m-5
         ">page sorties</a>

	</div>


{% endblock %}
