{% extends 'base.html.twig' %}

{% block title %} | Gestion des participants{% endblock %}

{% block body %}
    <div class="container mx-auto px-4">
        <h1>Gestion des Participants</h1>

        <a href="{{ path('admin_register') }}">Créer un participant</a>
        <p>TODO</p>

    </div>
{% endblock %}
