{% extends 'base.html.twig' %}

{% block title %}Modifier une sortie.
{% endblock %}

{% block body %}
	<main class="flex flex-col">
		<h1 class=" text-center my-5">
			Afficher une sortie
		</h1>

        {{ sortie.nom }}

	</main>
{% endblock %}
