@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
      font-family: Poppins, sans-serif;
  }
  /* HEADINGS */
  h1 {
    @apply text-3xl;
  }
  h2 {
    @apply text-2xl;
  }

  /* LIENS */
  a {
    @apply italic text-blue-800;
  }

  /* FORMULAIRES */
  label {
    @apply font-semibold;
  }
  input {
    @apply border border-slate-400 mx-2 px-2 py-1;
  }
  select {
    @apply border border-slate-400 mx-2 px-2 py-1;
  }
  textarea {
    @apply border border-slate-400 mx-2 px-2 py-1;
  }
  form button {
    @apply border border-slate-400 mx-2 px-2 py-1 shadow-lg text-zinc-50;
  }
  form a {
    @apply border border-red-600 mx-2 px-2 py-1 shadow-lg;
  }

/* TABLES */
  html,
  body {
    height: 100%;
  }

  td{
    overflow: hidden;
  }

  @media (min-width: 640px) {
    table {
      display: inline-table !important;
    }

    thead tr:not(:first-child) {
      display: none;
    }
  }

  td:not(:last-child) {
    border-bottom: 0;
  }

  th:not(:last-child) {
    border-bottom: 2px solid rgba(0, 0, 0, .1);
  }

}

